---
Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-deadcode.*,
  clang-analyzer-security.*,
  clang-analyzer-unix.*,
  clang-analyzer-optin.portability.UnixAPI,
  bugprone-branch-clone,
  bugprone-infinite-loop,
  bugprone-macro-parentheses,
  bugprone-macro-repeated-side-effects,
  bugprone-misplaced-widening-cast,
  bugprone-multiple-statement-macro,
  bugprone-not-null-terminated-result,
  bugprone-sizeof-expression,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-string-compare,
  bugprone-swapped-arguments
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|.*/)src/.*'
SystemHeaders: false
...
